{% load static %}




<!--List of Added Crops-->
  <div class="row" style=" padding-left: 70px; padding-right: 70px">
    {% for some_crop in crops_added %}
    
      

        <div class="col-lg-4" id="some_crop-{{ some_crop.id }}" style=" padding-left: 25px; padding-right: 25px; margin-bottom: 120px; display: block; width: 20%; max-width:20%; padding-bottom: 30px; height:220px;  max-height:220px; min-height:220px; ">
          <img class="thumbnail" style="width: 100%; height: 90%; " src="{{ some_crop.photo.url }}">
          <div class="box-element product">
            <h6><strong>{{some_crop.crop_name}}</strong></h6>
            <hr>

            

            {% comment %} <button id="myBtn" >Add Crop</button> {% endcomment %}

            {% include 'ecommerce/editModal.html' with edit_type='some_crop' %}
            
            <button href="#" data-toggle="modal" data-target="#some_crop-{{ some_crop.id }} .editModal">Edit</button>

            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" value={{ some_crop.id}} name="crop_id">
              <button class="btn btn-outline-secondary add-btn" type="submit" name="submit" value="delete_crop">Delete</button>
            </form>
            <!-- <a class="btn btn-outline-success" href="#">Edit</a> -->
            <h4 style="display: inline-block; float: right"><strong>Rs. {{some_crop.price}}</strong></h4>
            
            <hr>
          </div>
        </div>
      
      
              
                

            
    {% endfor %}
    
  </div>
