{% extends 'home/base.html' %}

{% block body %}


<!--Form Section-->
<br /><br />

<h2 style="text-align: center; margin: 0px; color: black">
    <b>Get informed advice on fertilizer based on soil</b>
</h2>

<br />

<div style=" width: 500px; height: 33rem; margin: 0px auto; color: black; border-radius: 25px; padding: 20px 20px;
  padding: 10px;
  border: 5px solid gray;">

    <form method="POST" action="{% url 'fert_res' %}" style=" padding-top: 20px; padding-left: 10px; padding-right: 10px; ">
        {% csrf_token %}
        <div class="form-group">
            <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen(N)</b></label>
            <input type="number" class="form-control" id="Nitrogen" name="nitrogen"
                placeholder="Enter the value (example:40)" style="font-weight: bold" required />
        </div>

        <div class="form-group">
            <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous(P)</b></label>
            <input type="number" class="form-control" id="Phosphorous" name="phosphorous"
                placeholder="Enter the value (example:40)" style="font-weight: bold" required />
        </div>

        <div class="form-group">
            <label for="Pottasium" style="font-size: 17px"><b>Pottasium(K)</b></label>
            <input type="number" class="form-control" id="Pottasium" name="pottasium"
                placeholder="Enter the value (example:40)" style="font-weight: bold" required />
        </div>

        <div class="form-group">
            <label for="ph" style="font-size: 17px"><b>pH</b></label>
            <input type="number" class="form-control" id="ph" name="ph" placeholder="Enter the value (example:7)"
                style="font-weight: bold" required />
        </div>

        <div class="form-group">
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
            
            <label for="crop" style="font-size: 17px"><b>Crop you want to grow</b></label>
            <select id="select-state" name="cropname" class="form-control" id="crop" placeholder="Select a crop" style="font-weight: bold" required>
                <option></option>
                {% for opt in crop %}
                    <option>{{opt}}</option>
                {% endfor %}
            </select>
            

        </div>


        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info"
                style=" color: black; font-weight: bold; width: 130px; height: 50px; border-radius: 12px; font-size: 21px; ">
                Predict
            </button>
        </div>

    </form>
<script>
  $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
</script>
</div>
</br>


{% endblock %}