{% extends 'home/base.html' %}
{% load static %}

{% block body %}

<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="w3-welcome-grids">
            <div class="col-md-5 w3l-welcome-left">
                <h2>Welcome <span>to Harvest Life</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt semper porta. Sed id
                    nunc accumsan, accumsan eros placerat, rhoncus dolor. Integer ac mauris quis leo blandit
                    egestas. Nam in libero ligula.</p>
                <div class="w3ls-button">
                    <a href="{% static 'home/single.html' %}">More</a>
                </div>
            </div>
            <div class="col-md-7 w3l-welcome-right">
                <div class="w3l-welcome-right-grids">
                    <div class="col-sm-5 w3l-welcome-right-img">
                        <img src="{% static 'home/images/4.jpg' %}" alt="" />
                    </div>
                    <div class="col-sm-7 w3l-welcome-right-img1">
                        <img src="{% static 'home/images/5.jpg' %}" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //welcome -->
<!---728x90--->

<!-- services -->
<div class="services">
    <div class="container">
        <div class="agileits-services-grids">
            <div class="col-md-4 agileinfo-services-left">
                <h3>Our <span>Services</span></h3>
                <p>Nulla eu erat risus. Curabitur in purus porta, suscipit nisi sit amet, maximus purus. Fusce
                    nulla nibh, porttitor eu velit id, cursus mattis nibh. Phasellus dapibus aliquam urna in
                    maximus. Phasellus dolor est, lobortis sit amet ultricies tincidunt, aliquet mattis risus.
                </p>
            </div>
            <div class="col-md-8 agileinfo-services-right">
                <div class="col-md-6 w3-agileits-services-grid">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="col-md-6 w3-agileits-services-grid agile-services1">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="col-md-6 w3-agileits-services-grid">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="col-md-6 w3-agileits-services-grid">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!---728x90--->

<!-- news -->
<div class="news">
    <div class="container">
        <div class="wthree-news-grids">
            <div class="col-md-4 agileinfo-services-left agile-news-left">
                <h3>Our <span>News</span></h3>
                <p>Nulla eu erat risus. Curabitur in purus porta, suscipit nisi sit amet, maximus purus. Fusce
                    nulla nibh, porttitor eu velit id, cursus mattis nibh. Phasellus dapibus aliquam urna in
                    maximus. Phasellus dolor est, lobortis sit amet ultricies tincidunt, aliquet mattis risus.
                </p>
            </div>
            <div class="col-md-8 agile-news-right">
                <div class="col-md-6 agile-news-right-info">
                    <div class="col-md-6 agile-news-img">

        <!-- news -->
        <!--<div class="news">
            <div class="container">
                <div class="wthree-news-grids">
                    <div class="col-md-4 agileinfo-services-left agile-news-left">
                        <h3>Our <span>News</span></h3>
                        <p>Nulla eu erat risus. Curabitur in purus porta, suscipit nisi sit amet, maximus purus. Fusce
                            nulla nibh, porttitor eu velit id, cursus mattis nibh. Phasellus dapibus aliquam urna in
                            maximus. Phasellus dolor est, lobortis sit amet ultricies tincidunt, aliquet mattis risus.
                        </p>

                    </div>
                    <div class="col-md-6 agile-news-img-info">
                        <h5><a href="{% static 'home/single.html' %}">Lorem ipsum dolor</a></h5>
                        <div class="agileits-w3layouts-border"> </div>
                        <p>Maecenas et suscipit augue. Aenean at ultricies lacus.</p>
                        <h6><i class="fa fa-calendar" aria-hidden="true"></i> 24th Dec,2016</h6>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        -->
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!--<title>Hello, world!</title>-->
      <style>
          .col-md-3
          {
          display: inline-block;
          margin-left:-8px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
  </style>
  <!--</head>
  <body>-->
  {% load static %}
    

<div class="container">
<div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1" ></li>
      <li data-target="#demo" data-slide-to="2" ></li>
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
            
                        
                    <div class="card" style="width:260px;">
                        <img src="{{ articles0.urlToImage }}" class="card-img-top" alt="..." width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles0.author }}</p>-->
                        <h5 class="card-title">{{ articles0.title }}</h5>
                        <p class="card-title">{{ articles0.source.name }}</p>
                        <!--<p class="card-text">{{ articles0.description }}</p>-->
                        <hr>
                        <small>date: {{ articles0.publishedAt }}</small>
                        <a href="{{ articles0.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
                    </div>

            
       </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles1.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles1.author }}</p>-->
                        <h5 class="card-title">{{ articles1.title }}</h5>
                        <p class="card-title">{{ articles1.source.name }}</p>
                        <!--<p class="card-text">{{ articles1.description }}</p>-->
                        <hr>
                        <small>date: {{ articles1.publishedAt }}</small>
                        <a href="{{ articles1.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles2.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles2.author }}</p>-->
                        <h5 class="card-title">{{ articles2.title }}</h5>
                        <p class="card-title">{{ articles2.source.name }}</p>
                        <!--<p class="card-text">{{ articles2.description }}</p>-->
                        <hr>
                        <small>date: {{ articles2.publishedAt }}</small>
                        <a href="{{ articles2.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles3.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles3.author }}</p>-->
                        <h5 class="card-title">{{ articles3.title }}</h5>
                        <p class="card-title">{{ articles3.source.name }}</p>
                        <!--<p class="card-text">{{ articles3.description }}</p>-->
                        <hr>
                        <small>date: {{ articles3.publishedAt }}</small>
                        <a href="{{ articles3.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>
      </div>



      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles4.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles4.author }}</p>-->
                        <h5 class="card-title">{{ articles4.title }}</h5>
                        <p class="card-title">{{ articles4.source.name }}</p>
                        <!--<p class="card-text">{{ articles4.description }}</p>-->
                        <hr>
                        <small>date: {{ articles4.publishedAt }}</small>
                        <a href="{{ articles4.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles5.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles5.author }}</p>-->
                        <h5 class="card-title">{{ articles5.title }}</h5>
                        <p class="card-title">{{ articles5.source.name }}</p>
                        <!--<p class="card-text">{{ articles5.description }}</p>-->
                        <hr>
                        <small>date: {{ articles5.publishedAt }}</small>
                        <a href="{{ articles5.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles6.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles6.author }}</p>-->
                        <h5 class="card-title">{{ articles6.title }}</h5>
                        <p class="card-title">{{ articles6.source.name }}</p>
                        <!--<p class="card-text">{{ articles6.description }}</p>-->
                        <hr>
                        <small>date: {{ articles6.publishedAt }}</small>
                        <a href="{{ articles6.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles7.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles7.author }}</p>-->
                        <h5 class="card-title">{{ articles7.title }}</h5>
                        <p class="card-title">{{ articles7.source.name }}</p>
                        <!--<p class="card-text">{{ articles7.description }}</p>-->
                        <hr>
                        <small>date: {{ articles7.publishedAt }}</small>
                        <a href="{{ articles7.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles8.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles8.author }}</p>-->
                        <h5 class="card-title">{{ articles8.title }}</h5>
                        <p class="card-title">{{ articles8.source.name }}</p>
                        <!--<p class="card-text">{{ articles8.description }}</p>-->
                        <hr>
                        <small>date: {{ articles8.publishedAt }}</small>
                        <a href="{{ articles8.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles9.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles9.author }}</p>-->
                        <h5 class="card-title">{{ articles9.title }}</h5>
                        <p class="card-title">{{ articles9.source.name }}</p>
                        <!--<p class="card-text">{{ articles9.description }}</p>-->
                        <hr>
                        <small>date: {{ articles9.publishedAt }}</small>
                        <a href="{{ articles9.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles10.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles10.author }}</p>-->
                        <h5 class="card-title">{{ articles10.title }}</h5>
                        <p class="card-title">{{ articles10.source.name }}</p>
                        <!--<p class="card-text">{{ articles10.description }}</p>-->
                        <hr>
                        <small>date: {{ articles10.publishedAt }}</small>
                        <a href="{{ articles10.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width:260px;">
                        <img src="{{ articles11.urlToImage }}" class="card-img-top" alt="..."width="400" height="200">
                        <div class="card-body">
                        <!--<p class="card-text">{{ articles11.author }}</p>-->
                        <h5 class="card-title">{{ articles11.title }}</h5>
                        <p class="card-title">{{ articles11.source.name }}</p>
                        <!--<p class="card-text">{{ articles11.description }}</p>-->
                        <hr>
                        <small>date: {{ articles11.publishedAt }}</small>
                        <a href="{{ articles11.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
            </div>
        </div>
      </div>
    </div>

</div>

    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!--</body>
</html>-->

        <!-- //news -->
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="agile-footer-grids">
                    <div class="col-md-3 w3-agile-footer-grid">
                        <h3>About</h3>
                        <p>Aenean cursus dignissim porta. Quisque mattis dolor sem, nec ultrices arcu consequat vel.
                            Phasellus sollicitudin dui diam, et scelerisque nunc venenatis non. Cras dapibus, urna et
                            pellentesque egestas</p>
                    </div>
                    <div class="col-md-3 w3-agile-footer-grid">
                        <h3>Events</h3>
                        <ul>
                            <li>12th Aug <a href="{% static 'home/single.html' %}">Curabitur</a></li>
                            <li>10th Sept <a href="{% static 'home/single.html' %}">Fusce urna</a></li>
                            <li>24th Sept <a href="{% static 'home/single.html' %}">Praesent</a></li>
                            <li>17th Oct <a href="{% static 'home/single.html' %}">Malesuada </a></li>
                            <li>09th Dec <a href="{% static 'home/single.html' %}">Cum sociis</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 w3-agile-footer-grid">
                        <h3>Navigation</h3>
                        <ul>
                            <li class="text"><a href="{% static 'home/about.html' %}">About</a></li>
                            <li class="text"><a href="{% static 'home/typography.html' %}">Typography</a></li>
                            <li class="text"><a href="{% static 'home/icons.html' %}">Icons</a></li>
                            <li class="text"><a href="{% static 'home/gallery.html' %}">Gallery</a></li>
                            <li class="text"><a href="{% static 'home/blog.html' %}">Blog</a></li>
                            <li class="text"><a href="{% static 'home/contact.html' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 agile-news-img-info">
                        <h5><a href="{% static 'home/single.html' %}">Lorem ipsum dolor</a></h5>
                        <div class="agileits-w3layouts-border"> </div>
                        <p>Maecenas et suscipit augue. Aenean at ultricies lacus.</p>
                        <h6><i class="fa fa-calendar" aria-hidden="true"></i> 13th Nov,2016</h6>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<script src="{% static 'home/js/responsiveslides.min.js' %}"></script>
<script src="{% static 'home/js/SmoothScroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/easing.js' %}"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->

{% endblock %}