{% extends 'home/base.html' %}
{% load static %}

{% block body %}

<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="w3-welcome-grids">
            <div class="col-md-5 w3l-welcome-left">
                <h2>Welcome <span>to Harvest Life</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt semper porta. Sed id
                    nunc accumsan, accumsan eros placerat, rhoncus dolor. Integer ac mauris quis leo blandit
                    egestas. Nam in libero ligula.</p>
                <div class="w3ls-button">
                    <a href="{% static 'home/single.html' %}">More</a>
                </div>
            </div>
            <div class="col-md-7 w3l-welcome-right">
                <div class="w3l-welcome-right-grids">
                    <div class="col-sm-5 w3l-welcome-right-img">
                        <img src="{% static 'home/images/4.jpg' %}" alt="" />
                    </div>
                    <div class="col-sm-7 w3l-welcome-right-img1">
                        <img src="{% static 'home/images/5.jpg' %}" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //welcome -->
<!---728x90--->

<!-- services -->
<div class="services">
    <div class="container">
        <div class="agileits-services-grids">
            <div class="col-md-4 agileinfo-services-left">
                <h3>Our <span>Services</span></h3>
                <p>Nulla eu erat risus. Curabitur in purus porta, suscipit nisi sit amet, maximus purus. Fusce
                    nulla nibh, porttitor eu velit id, cursus mattis nibh. Phasellus dapibus aliquam urna in
                    maximus. Phasellus dolor est, lobortis sit amet ultricies tincidunt, aliquet mattis risus.
                </p>
            </div>
            <div class="col-md-8 agileinfo-services-right">
                <div class="col-md-6 w3-agileits-services-grid">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="col-md-6 w3-agileits-services-grid agile-services1">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="col-md-6 w3-agileits-services-grid">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="col-md-6 w3-agileits-services-grid">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <h4>Quisque a rhoncus tortor</h4>
                    <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros
                        dapibus efficitur volutpat.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!---728x90--->

<!-- news -->
<div class="news">
    <div class="container">
        <div class="wthree-news-grids">
            <div class="col-md-4 agileinfo-services-left agile-news-left">
                <h3>Our <span>News</span></h3>
                <p>Nulla eu erat risus. Curabitur in purus porta, suscipit nisi sit amet, maximus purus. Fusce
                    nulla nibh, porttitor eu velit id, cursus mattis nibh. Phasellus dapibus aliquam urna in
                    maximus. Phasellus dolor est, lobortis sit amet ultricies tincidunt, aliquet mattis risus.
                </p>
            </div>
            <div class="col-md-8 agile-news-right">
                <div class="col-md-6 agile-news-right-info">
                    <div class="col-md-6 agile-news-img">

                    </div>
                    <div class="col-md-6 agile-news-img-info">
                        <h5><a href="{% static 'home/single.html' %}">Lorem ipsum dolor</a></h5>
                        <div class="agileits-w3layouts-border"> </div>
                        <p>Maecenas et suscipit augue. Aenean at ultricies lacus.</p>
                        <h6><i class="fa fa-calendar" aria-hidden="true"></i> 24th Dec,2016</h6>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 agile-news-right-info">
                    <div class="col-md-6 agile-news-img agile-news-img1">

                    </div>
                    <div class="col-md-6 agile-news-img-info">
                        <h5><a href="{% static 'home/single.html' %}">Lorem ipsum dolor</a></h5>
                        <div class="agileits-w3layouts-border"> </div>
                        <p>Maecenas et suscipit augue. Aenean at ultricies lacus.</p>
                        <h6><i class="fa fa-calendar" aria-hidden="true"></i> 13th Nov,2016</h6>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<script src="{% static 'home/js/responsiveslides.min.js' %}"></script>
<script src="{% static 'home/js/SmoothScroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/easing.js' %}"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->

{% endblock %}